---
---

@import "minima";

/* --- Подключаем кастомные шрифты --- */
@font-face {
  font-family: "Berlin-Bold";
  src: url("/assets/fonts/BerlinType-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Berlin-Regular";
  src: url("/assets/fonts/BerlinType-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* --- Общие стили --- */
body {
  font-family: "Berlin-Regular", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

/* Заголовки, ссылки в меню, кнопки */
h1, h2, h3, h4, h5, h6, a, .site-header a {
  font-family: "Berlin-Bold", sans-serif;
}

/* --- Убираем верхнюю серую полоску в header --- */
.site-header, .page-content, .site-footer {
  border-top: none;
  background: none;
  border-top: none;
  border-bottom: none;
}

/* --- Скругляем все изображения --- */
img {
  border-radius: 3px;
}

/* --- Главная страница --- */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.home-header {
  text-align: center;
  margin: 40px 0;
}

/* --- Полный фид постов --- */
.post {
  margin-bottom: 60px;
  line-height: 1.6;
}

/* --- Ссылки с backplate --- */
a {
  text-decoration: none; /* убираем подчеркивание */
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
  }
}

/* --- Light theme --- */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #000;
    --color-bg: #fff;
    --color-link: #FFCA28;
    --color-link-bg: #000;
  }

  h1 a, h2 a, .social-buttons a, {
    color: var(--color-link);
    background-color: var(--color-link-bg);
    padding: 0 4px;
    border-radius: 3px;
  }

  a:visited {
    color: var(--color-link);
  }

  .site-title {
  	color: var(--color-text);

  	&:visited {
  		color: var(--color-text);
  	}
  }

  .site-nav .page-link {
  	color: var(--color-link);
  	background-color: var(--color-link-bg);

  	&:visited {
  		color: var(--color-link);
  	}
  }

  .footer-col-wrapper {
  	color: var(--color-text);
  }
}

/* --- Dark theme --- */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-bg: #000;
    --color-link: #000;
    --color-link-bg: #FFCA28;
  }

  h1 a, h2 a, .social-buttons a, {
    color: var(--color-link);
    background-color: var(--color-link-bg);
    padding: 0 4px;
    border-radius: 3px;
  }

  a:visited {
    color: var(--color-link);
  }

  .site-title {
  	color: var(--color-text);

  	&:visited {
  		color: var(--color-text);
  	}
  }

  .site-nav .page-link {
  	color: var(--color-link);
  	background-color: var(--color-link-bg);

  	&:visited {
  		color: var(--color-link);
  	}
  }

  .footer-col-wrapper {
  	color: var(--color-text);
  }
}