---
---

@import "jekyll-theme-minimalistic";

.post-content img,
img.post-image {
  border-radius: 5px !important;
  overflow: hidden;
  display: block;
  margin: 1.2rem auto;
}

ul.content li {
	margin: 1rem auto;
}

iframe {
	border-radius: 5px !important;
}

/*FONTS*/

/* Regular */
@font-face {
  font-family: 'BerlinType';
  src: url('/assets/fonts/BerlinType-Regular.otf') format('opentype');
  font-weight: 400; /* обычный */
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'BerlinType';
  src: url('/assets/fonts/BerlinType-Bold.otf') format('opentype');
  font-weight: 700; /* жирный */
  font-style: normal;
}

/* Mono */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400; /* жирный */
  font-style: normal;
}



$font-regular: 'BerlinType', sans-serif;
$font-bold: 'BerlinType', sans-serif;

/* Default for the site */
body {
  font-family: $font-regular;
  font-weight: 400;
}

/* Headings */
h1, h2, h3, h4, h5, h6, a {
  font-family: $font-bold;
  font-weight: 700;
}

/* Code  */
code, pre {
  font-family: 'JetBrainsMono', monospace;
  font-weight: 400;
}



/*SIDEBAR*/

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin: 0.8rem 0;
}

.sidebar-nav a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  transition: color 0.2s;
}

.sidebar-nav a:hover {
  color: var(--accent-color), 15%;
}



/*THEME*/

@media (prefers-color-scheme: light) {
	:root {
	  --accent-color: #FFCA28 !important;
	}

	a {
	  background-color: var(--accent-color);
	  color: #000;
	  padding: 0.2em 0.4em;
	  border-radius: 5px;
	  text-decoration: none;
	  transition: background-color 0.3s, color 0.3s;
	}

	a:hover {
		background-color: #000 !important;
		color: var(--accent-color) !important;
	}

	.sidebar-nav a {
	  	color: #000;
	}
}


@media (prefers-color-scheme: dark) {
  :root {
	  --accent-color: #FFCA28 !important;
	}

	a {
	  background-color: #000;
	  color: var(--accent-color);
	  padding: 0.2em 0.4em;
	  border-radius: 5px;
	  text-decoration: none;
	  transition: background-color 0.3s, color 0.3s;
	}

	a:hover {
		background-color: var(--accent-color) !important;
		color: #000 !important;
	}

	.sidebar-nav a {
	  	color: var(--accent-color);
	}
}