---
---

@import "minima";

/* --- кастомные стили --- */

/* Главная страница */
.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.home-header {
  text-align: center;
  margin: 40px 0;
}

/* Полный фид постов */
.post {
  margin-bottom: 60px;
  line-height: 1.6;
}

/* Акцентный цвет и адаптивная тема */
:root {
  --color-accent: #fdd835; /* желтый для light theme */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #fdd835; /* желтый для dark theme */
    --color-bg: #111;
    --color-text: #eee;
    --color-link: var(--color-accent);
  }
}

/* Обязательно применяем цвет ссылок */
a {
  color: var(--color-accent);
}